html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

article {
  flex: 1 0 auto;
  width: 70%;
  margin: 0 auto;
}

figure:has(img.fig-right) {
  float: right;
  margin: 0 0 1em 1em;
  width: auto;
  max-width: 300px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

img.fig-right {
  display: block;
  width: 100%;
  height: auto;
  padding: 4px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

figure:has(img.fig-right) figcaption {
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

footer {
  flex-shrink: 0;
  align-self: center;
  width: 70%;
  margin: 3em auto 1em;
  flex-shrink: 0;        
  border-top: 1px solid black;
  padding: 1em;
}
